* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
}

.container {
    margin-top: 15%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}



.blocLeft {
    width: calc(10% - (2em / 3));
    background: #000;

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2em;
}

.blocCanvas {
    width: calc(50% - (2em / 3));
    background: orange;
}

.blocRight {
    width: calc(40% - (2em / 3));
    background: #000;
}