* {
    align-self: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #F5F5F5;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2em
}


.blocLeft {
    width: calc(10% - (2em / 3));
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1.8em;
}

button {
    padding: 10px;
    color: #050307;
    background-color: #FFB347;
    border: 0;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #D67A1A;
}

.blocCanvas {
    width: calc(50% - (2em / 3));
    background-color: #050307;
}

canvas {
    margin: 0 auto;
    display: block;
}

.blocRight {
    width: calc(40% - (2em / 3));
}

.info-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.blocRight img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.blocRight .title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

.blocRight .value {
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 10px;
}